## STAT 4185 Final Project

Process:
- Data Collection: load dataset
- Data Preprocessing: cleaning and splitting with Pandas, scaling
- Data Visualizations with matplotlib and seaborn (will come back to this)
- Data Analysis
- Model Construction: decision tree/random forest/adaboost
- Model Assessment: predictive performance analysis
- Conclusion

References:
- https://www.kaggle.com/datasets/thedevastator/higher-education-predictors-of-student-retention/data
- https://www.mdpi.com/2306-5729/7/11/146

### Data Collection
#### load dataset

In [307]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

In [245]:
df = pd.read_csv("dataset.csv")
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

### Data Preprocessing
#### Cleaning with Pandas

In [246]:
df.dtypes

Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

All of the qualitative variables appear to have been quantitatively encoded. I had to dig around to find the key that describes qualitative labels to their respective integers. In the process, I had stumbled on the original paper which explores the data. This project will contribute potential improvements to their process.

In [247]:
df.isna().sum()
# no NA/null values were found!
# Object type should indicate this since all values are int64/float64

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [248]:
for i in df.columns:
    print(i,df[i].unique())
# check qualitative attributes

Marital status [1 2 4 3 5 6]
Application mode [ 8  6  1 12  9 17 15 16 14  4 13  7  3  2  5 18 10 11]
Application order [5 1 2 4 3 6 9 0]
Course [ 2 11  5 15  3 17 12 10 14 16  6  8 13  9  4  1  7]
Daytime/evening attendance [1 0]
Previous qualification [ 1 12 16 14  8  3 15  2  4  9 17 11  6  7 13  5 10]
Nacionality [ 1 15  3 14 12 18  5 11  8 17  4  9 13 16 10 21  2 20 19  6  7]
Mother's qualification [13  1 22 23  3  4 27  2 19 10 25  7  5 24  9 26 18 11 20 21  6  8 17 28
 12 14 16 15 29]
Father's qualification [10  3 27 28  1 14  5  4 24  2 29  9  7 26 18 30 12 15 25 31 16 11 20 33
 13 32  8  6 21 17 34 23 19 22]
Mother's occupation [ 6  4 10  8  5  2 16  1  7  3 12  9 20 28 13 29 23 32 30 18 24 19 11 21
 15 27 31 14 22 17 26 25]
Father's occupation [10  4  8 11  6  9  5  2  3 22  7  1 12 39 19 13 29 46 43 34 44 30 41 24
 23 45 35 26 28 36 16 37 31 42 20 15 40 25 21 17 32 38 27 18 14 33]
Displaced [1 0]
Educational special needs [0 1]
Debtor [0 1]
Tuition fees up to date [1 0]
Gender [1 0]
Scholarship holder [0 1]
Age at enrollment [20 19 45 50 18 22 21 34 37 43 55 39 29 24 27 23 26 33 35 25 44 36 47 28
 38 30 31 32 40 42 48 49 46 41 70 60 53 51 52 54 61 58 59 17 57 62]
International [0 1]
Curricular units 1st sem (credited) [ 0  2  3  6  7 13  4  1  5 19 11  8 10  9 15 12 14 18 17 16 20]
Curricular units 1st sem (enrolled) [ 0  6  5  7  8  1 12 10 18  9 21  3 17 16 11 14 13  2  4 15 19 23 26]
Curricular units 1st sem (evaluations) [ 0  6  8  9 10  5  7 14 12 15 13 11  1 17 18 19 21  4 16  3 24  2 22 45
 20 26 29 36 32 23 27 31 28 25 33]
Curricular units 1st sem (approved) [ 0  6  5  7  4  1  3  2  8 18 10  9 21 11 13 12 16 14 17 19 15 20 26]
Curricular units 1st sem (grade) [ 0.         14.         13.42857143 12.33333333 11.85714286 13.3
 13.875      11.4        13.21428571 10.57142857 13.25       13.2
 12.         13.30625    12.5        11.66666667 11.4375     12.85714286
 13.375      13.29666667 11.6        11.375      12.66666667 12.93333333
 12.83333333 11.33333333 12.4        10.         11.         12.75
 14.8        13.928      13.         11.5        13.51666667 13.66666667
 11.83333333 14.71428571 10.6        13.04444444 14.935      13.13333333
 11.9        12.57142857 11.2        11.975      10.33333333 10.5
 14.84285714 12.2        12.16666667 13.08       10.66666667 11.875
 13.75       14.2        11.96       12.875      14.63157895 13.26666667
 13.85714286 13.4        12.51666667 11.61666667 13.14285714 12.6
 10.8        12.8        14.16666667 12.1        13.46714286 13.2375
 14.83333333 13.188      17.125      13.605      13.86333333 13.33333333
 12.25       13.16666667 12.85555556 14.91875    14.25714286 11.25
 12.45714286 11.68333333 11.75       11.95       14.35       12.61904762
 13.05       12.24285714 12.93375    11.81666667 11.16666667 12.32428571
 11.14285714 12.91428571 13.83333333 13.71428571 12.64285714 12.91666667
 15.625      11.71428571 12.125      13.85       13.74166667 15.33333333
 11.57142857 13.5        12.47142857 12.90909091 12.9        13.22
 13.15142857 15.         14.4        16.         13.57142857 14.82857143
 13.67142857 12.67       14.5        13.68571429 11.55555556 13.79714286
 14.00375    13.8        10.83333333 13.385      15.66666667 14.33333333
 11.42857143 14.72571429 12.86       15.11666667 15.2        16.2
 14.54285714 13.69428571 11.28571429 11.75714286 13.05857143 14.3
 11.8        13.39125    10.69230769 12.58571429 13.98       16.15384615
 14.03333333 13.41428571 13.54545455 15.13571429 12.28571429 12.74
 12.55555556 11.27272727 14.66666667 14.85714286 11.72727273 14.73142857
 13.61538462 15.8        14.65428571 12.40142857 11.5875     15.23076923
 12.90142857 14.14285714 13.25375    13.78571429 13.91666667 12.08285714
 13.81428571 11.3        12.3        12.69428571 14.4125     12.92875
 14.40285714 13.38142857 14.13125    13.6        13.84615385 16.4
 13.81818182 10.2        11.44444444 13.31       13.48714286 13.96666667
 11.98       11.61428571 14.31428571 12.76666667 14.70625    11.81428571
 12.77125    11.72142857 14.75       10.75       12.61       13.625
 11.69       14.52857143 15.95714286 12.625      13.49666667 11.77777778
 12.42857143 12.5075     12.09090909 14.6        13.82857143 12.5375
 12.1625     12.45       11.45454545 11.88888889 16.88571429 13.05555556
 12.35571429 12.35714286 12.84714286 12.34       13.73125    10.88888889
 13.025      12.04285714 12.8375     12.62857143 14.26875    12.22857143
 15.375      12.61428571 10.92307692 15.83333333 13.3625     15.4
 12.81818182 13.39473684 14.25       13.44444444 11.8375     12.68421053
 17.33333333 13.11111111 14.11111111 14.72727273 13.10571429 11.84615385
 14.42857143 12.14285714 13.47142857 13.105      15.5        12.22222222
 14.125      15.16666667 15.14285714 13.41142857 14.668      13.345
 14.53714286 13.08714286 14.14571429 14.45       15.71428571 13.46285714
 12.41428571 14.01666667 10.4        13.91428571 13.76111111 13.84285714
 14.68285714 18.         11.46153846 14.24444444 12.6        14.01428571
 12.8875     12.95       13.09428571 13.7        11.70571429 15.28571429
 13.46666667 14.875      14.72857143 14.46       16.5        15.22857143
 12.77777778 13.128      11.605      13.18181818 12.98125    11.68
 13.175      13.31428571 12.79142857 11.625      11.99444444 14.1
 12.39666667 15.01428571 14.05       14.85       14.7875     12.49571429
 14.56666667 12.68571429 14.445      13.41666667 13.1        13.53333333
 12.71428571 13.30857143 14.07125    14.90142857 12.65       12.13571429
 12.62       13.76666667 13.11625    12.7        15.75       14.35555556
 17.00555556 12.11428571 13.05875    13.28571429 14.07142857 13.29714286
 13.92307692 13.37       13.48571429 12.94       13.25857143 14.65285714
 13.72727273 15.07       12.60625    13.59833333 12.04142857 13.76923077
 15.44444444 15.57142857 13.63       16.9        12.76428571 14.60428571
 13.57625    13.76375    10.71428571 14.35714286 13.92571429 13.44285714
 13.125      11.67777778 16.14285714 11.78571429 13.42375    12.46428571
 12.375      13.02428571 14.28571429 14.38461538 11.98857143 11.54545455
 16.46153846 14.37       14.69625    12.85555556 13.04       15.65714286
 13.33142857 13.45454545 15.02857143 11.42105263 13.35       13.88125
 13.15       12.34285714 13.45714286 12.90857143 12.81666667 11.61111111
 13.97666667 12.45454545 10.98333333 13.38461538 16.11111111 13.58571429
 13.34       13.38888889 13.58333333 12.82857143 11.32857143 13.03333333
 12.6875     10.46666667 12.83571429 13.24875    12.54545455 11.98333333
 10.25       12.51428571 13.30769231 13.34285714 14.27272727 12.1375
 13.52857143 13.6375     14.36       14.51428571 14.7        16.57142857
 15.145      13.76125    15.30769231 14.75714286 11.91666667 15.63375
 13.38125    12.16       13.3425     14.175      14.15384615 12.58823529
 13.05375    12.03571429 11.53846154 13.11714286 12.63636364 15.125
 13.72571429 15.57       14.11428571 13.07571429 13.51285714 12.288
 12.76571429 14.88888889 11.35714286 13.88428571 13.8875     13.4275
 13.075      13.49285714 14.58333333 15.66       13.55714286 12.18333333
 13.435      13.11666667 13.87714286 12.94428571 14.26666667 12.48375
 13.45       12.48571429 14.86857143 13.03       14.57142857 13.3675
 12.80833333 13.91857143 13.68333333 14.69285714 14.035      11.7725
 12.46       14.80571429 12.725      13.135      12.85       14.14125
 14.6625     12.99333333 10.21428571 13.54285714 11.82857143 12.96666667
 14.12571429 12.78333333 13.44       12.21428571 12.84615385 13.37142857
 13.38571429 13.32857143 14.3775     14.15       14.07222222 12.63333333
 14.23333333 15.7        16.33333333 12.5625     13.78125    13.26
 15.15555556 12.82875    10.875      12.75833333 13.50714286 13.61428571
 11.97142857 12.38571429 14.28333333 13.27272727 15.115      14.56571429
 13.79666667 14.96285714 13.64285714 12.15384615 13.40375    16.16666667
 11.29444444 13.43333333 12.74285714 14.93571429 12.52857143 12.36363636
 15.09090909 13.05882353 13.39166667 14.08571429 10.16666667 12.12142857
 14.22222222 12.49285714 15.88571429 14.77777778 12.72727273 18.875
 15.08333333 12.44428571 12.51333333 11.15555556 11.575      13.19857143
 13.87571429 13.15384615 14.44142857 13.2325     13.07375    13.46428571
 14.4025     15.46875    14.98333333 15.88888889 13.98333333 14.84285714
 12.55375    12.66571429 12.57894737 12.002      13.86714286 12.675
 11.63571429 12.52608696 16.42857143 13.336      14.11571429 12.415
 14.31285714 15.42857143 10.85714286 11.73333333 13.04666667 13.11
 14.41428571 13.045      12.858      14.2525     14.06       15.07571429
 13.77857143 13.07285714 16.71428571 11.65833333 14.625      12.56
 13.19       12.77142857 11.71666667 17.         12.21052632 12.46153846
 11.90909091 13.46       10.36842105 12.69230769 14.30769231 14.45454545
 12.44444444 13.6125     12.41428571 14.06666667 13.55555556 13.27625
 14.375      12.97166667 10.92857143 12.75714286 13.67       14.13714286
 13.55       14.63636364 12.78571429 13.80142857 11.82       13.42222222
 14.57285714 12.98285714 13.755      14.71111111 14.61538462 13.67714286
 13.95833333 13.3875     12.64833333 13.39       10.9        15.85714286
 12.62857143 14.23285714 12.32       12.35       13.09090909 15.94285714
 14.575      13.47       13.79857143 10.64285714 14.65       12.26666667
 10.375      14.44444444 12.50625    16.85714286 15.11428571 12.04
 14.32857143 11.71666667 12.58       14.53571429 11.6875     12.84142857
 17.11111111 12.36       15.25       13.81375    11.9625     14.98571429
 13.78       13.805      14.42428571 12.07142857 14.11        9.8
 14.31666667 12.72857143 13.68142857 11.94       13.89428571 13.46875
 13.41625    15.3        14.61666667 12.19230769 13.9        11.61538462
 13.99571429 12.88625    14.50125    13.56875    14.15375    12.45428571
 13.27166667 13.54833333 13.2575     11.41666667 11.15       11.67857143
 14.48571429 12.65714286 13.07142857 13.126      15.69230769 15.05263158
 12.93875    12.18       12.71857143 11.64285714 12.5125     13.48333333
 12.565      13.06       10.28571429 12.27142857 13.22222222 13.15428571
 15.10142857 12.41666667 14.93333333 14.455      12.32857143 13.27142857
 12.58333333 13.73166667 12.49166667 10.81818182 12.87857143 14.53846154
 12.73333333 13.93714286 13.6875     13.398      11.76923077 13.08166667
 14.59444444 13.17647059 12.59125    11.89473684 12.36571429 16.83333333
 11.125      14.54       15.67571429 13.18333333 11.9725     13.95714286
 12.91       13.58       12.88888889 14.34125    14.20857143 14.30714286
 14.21428571 13.97142857 15.07777778 13.38333333 13.01125    11.85
 12.32777778 12.07692308 11.23076923 10.98571429 16.13142857 14.83857143
 13.9475     13.06666667 13.74625    13.81714286 15.53846154 14.05714286
 13.29       13.86166667 15.43333333 15.11       15.79857143 13.77571429
 14.71666667 14.368      12.08428571 10.74444444 13.4173913  13.24285714
 13.55714286 14.09333333 13.51428571 12.74428571 13.3125     14.95
 14.99285714 13.01666667 13.32714286 11.832      12.41285714 12.54571429
 12.51428571 13.62857143 13.73684211 10.76923077 12.47619048 13.29166667
 14.24       14.10571429 11.96666667 13.3475     13.17571429 13.74285714
 12.21714286 11.07142857 11.325      11.92307692 14.88875    12.4125
 14.9125    ]
Curricular units 1st sem (without evaluations) [ 0  1  2  4  3  6 12 10  7  5  8]
Curricular units 2nd sem (credited) [ 0  1  2  5  7  4 10  3 13  9  6 11 12  8 14 15 16 18 19]
Curricular units 2nd sem (enrolled) [ 0  6  5  8  7 11 12  9 13 19  3 10  4 17  2  1 14 15 16 23 18 21]
Curricular units 2nd sem (evaluations) [ 0  6 10 17  8  5  7 14  9 12 11 13 19  3 15 16  4 18  2 21  1 26 27 22
 20 24 28 23 25 33]
Curricular units 2nd sem (approved) [ 0  6  5  8  2  7  4  1  3 10 13 11 19  9 12 17 14 20 16 18]
Curricular units 2nd sem (grade) [ 0.         13.66666667 12.4        13.         11.5        14.345
 14.14285714 13.5        14.2        13.21428571 11.         12.
 14.545      12.25       11.425      12.85714286 12.28571429 14.11428571
 13.28571429 12.33333333 13.71666667 10.57142857 13.4        14.375
 13.42857143 10.         11.6        15.8        14.34285714 13.8
 14.33333333 13.2        13.77142857 12.83333333 14.16666667 11.83333333
 13.595      12.9        14.935      12.22142857 12.42857143 10.75
 10.8        13.75       10.85714286 13.33333333 15.05555556 11.66666667
 12.2        13.3        11.33333333 13.08       11.2        13.25
 14.47777778 14.23076923 12.27272727 12.3        15.         12.8
 12.57142857 12.51666667 10.66666667 11.4        14.         11.25
 13.77777778 15.01111111 13.74285714 14.6        11.71428571 12.5
 14.83333333 12.89285714 17.5875     12.66666667 12.33125    14.17857143
 10.83333333 11.8        11.85714286 12.6        12.76111111 15.355
 14.25714286 10.5        13.5625     11.68333333 13.16666667 11.95
 10.4        14.58333333 12.78947368 13.05       12.24285714 12.93375
 14.42857143 12.32428571 12.91428571 12.64285714 12.91666667 15.85714286
 13.3125     14.5        12.19285714 14.9125     11.57142857 14.25
 10.33333333 11.4625     13.55555556 13.6        12.36363636 13.22
 13.15142857 10.6        12.16666667 14.82857143 13.67142857 13.55
 15.42857143 15.3875     13.775      13.81285714 13.83333333 13.385
 14.72571429 13.1375     12.86       13.71428571 16.16888889 10.25
 15.14285714 16.4        14.88181818 14.35555556 13.08333333 13.05857143
 14.05555556 14.66666667 14.57142857 13.39125    13.1        12.30769231
 16.42857143 13.44285714 13.98       15.75       14.03333333 13.41428571
 13.57142857 15.2875     10.97857143 11.11111111 11.16666667 12.14
 12.75       14.73142857 14.8        14.65428571 12.40142857 14.07142857
 15.6        15.4        12.375      13.09444444 13.25375    14.1
 13.91666667 12.08285714 13.81428571 11.3        16.         12.69428571
 16.05       14.0625     14.40285714 13.38142857 13.98375    14.09090909
 13.45454545 12.625      13.26666667 13.31       13.48714286 13.96666667
 13.225      14.0375     14.31428571 12.12857143 11.75       14.4775
 13.54285714 11.875      12.77125    11.72142857 12.525      10.2
 12.61       11.69       11.28571429 15.01818182 15.18888889 13.49666667
 12.5075     13.625      14.71428571 13.82857143 12.61428571 15.2
 13.825      14.55555556 11.7        11.54545455 11.46153846 15.74444444
 15.8125     12.35571429 11.98       12.35714286 13.85714286 13.78888889
 13.01875    13.73125    13.81111111 12.04285714 15.5        12.71428571
 12.62857143 14.26875    13.2125     11.45454545 11.70833333 14.44444444
 13.54545455 13.55473684 11.7375     11.22222222 12.48125    12.38461538
 17.         14.85714286 12.14285714 15.77777778 13.10571429 14.4
 17.6        16.575      11.18181818 11.42857143 13.94444444 13.105
 11.36363636 13.29444444 15.625      12.7        14.63375    13.345
 14.53714286 13.22222222 12.95       14.28571429 13.62777778 14.14444444
 13.16428571 15.33333333 14.01666667 14.10625    12.82375    13.84285714
 11.58333333 12.23333333 12.6        15.35       12.46153846 12.54545455
 12.8875     12.55       13.7        15.11111111 11.70571429 16.075
 13.64285714 14.75       11.125      16.32727273 17.42857143 15.22857143
 13.19333333 12.4125     12.90909091 12.98125    11.68       14.875
 13.31428571 15.57142857 12.79142857 12.43142857 12.94285714 16.0875
 15.1        15.8625     14.67142857 14.56666667 12.68571429 14.445
 14.625      13.41666667 14.8125     13.61428571 14.07125    14.90142857
 12.44555556 13.32857143 14.05142857 13.11625    13.49375    16.58222222
 12.11428571 13.05875    15.1625     13.29714286 13.48571429 13.76
 13.25857143 12.6375     14.65285714 11.14285714 15.07       12.5125
 11.9        11.93333333 12.96818182 13.14285714 12.04142857 15.30769231
 15.16666667 16.375      13.63       12.22857143 16.37777778 12.76428571
 15.68333333 13.57625    15.83333333 13.76375    14.35714286 13.92571429
 13.74444444 15.875      16.2        11.78571429 13.42375    12.46428571
 13.02428571 18.57142857 12.38       11.98857143 12.88888889 13.875
 13.41111111 14.65       14.62222222 13.9125     13.99444444 11.68571429
 15.65714286 13.33142857 15.02857143 12.58333333 11.07692308 13.35
 13.88125    15.06875    12.34285714 14.5125     12.90857143 12.875
 12.05555556 12.55555556 12.04166667 10.98333333 14.6875     10.84
 12.45714286 14.88888889 13.58333333 12.82857143 11.32857143 13.03333333
 10.92307692 14.23125    13.24875    15.61111111 16.14285714 11.625
 12.28125    10.44444444 12.77777778 12.81818182 11.65       14.81818182
 12.91111111 14.65555556 14.3875     14.36       14.51428571 14.7
 15.0625     15.66666667 15.7425     15.075      13.76125    14.07777778
 12.76666667 14.02222222 15.63375    13.125      12.45       13.38125
 11.34       13.3425     13.03125    13.35714286 12.84615385 13.05375
 16.5        15.57       15.91111111 13.07571429 13.51285714 12.288
 13.54444444 13.72727273 11.1        14.86444444 12.16       13.4275
 12.36111111 12.68888889 13.55714286 14.63636364 11.725      12.18333333
 13.435      12.17647059 13.11666667 15.6625     12.94428571 14.26666667
 12.48375    15.3125     13.45       12.9375     13.21875    13.3675
 12.82571429 13.8875     13.68333333 14.9625     14.035      12.33
 12.46       14.80571429 13.7125     13.46153846 13.24444444 12.62142857
 14.14125    14.6625     12.66875    11.38461538 14.22222222 12.9125
 12.96666667 14.36875    12.84285714 11.225      15.125      13.06666667
 12.63636364 13.3875     11.77777778 14.3775     13.04285714 14.15
 12.47142857 14.0475     12.63333333 14.23333333 15.7        13.78125
 14.28625    16.8        12.82875    12.75833333 14.4375     12.72857143
 13.12555556 15.092      14.56571429 14.96285714 17.16666667 14.77272727
 13.06363636 13.40375    14.125      12.74285714 13.12857143 14.93571429
 13.90625    12.41666667 12.4875     14.08571429 11.50625    15.28571429
 14.3        11.90909091 11.44444444 11.7125     15.88571429 11.58
 11.35714286 12.08333333 17.69230769 15.3        11.34714286 12.18181818
 10.42857143 13.375      11.64285714 13.07142857 13.58571429 13.61538462
 12.42       13.0625     12.21428571 13.08571429 13.65625    13.2325
 13.07375    14.78888889 14.4025     16.3875     14.98333333 13.98333333
 11.61538462 11.675      13.75555556 14.38888889 12.55375    12.66571429
 12.11764706 12.002      13.86714286 12.675      11.575      11.63571429
 11.55555556 13.15       12.52608696 16.66666667 13.20714286 14.11571429
 13.11111111 12.415      14.31285714 14.01428571 15.925      11.80833333
 11.88888889 13.30625    13.11       14.41428571 13.045      12.858
 14.2525     11.24285714 15.07571429 13.12222222 12.6875     13.07285714
 12.11666667 12.56       12.77142857 13.18181818 10.72727273 12.2375
 12.10526316 16.6        15.23076923 14.575      12.41428571 11.4375
 14.06666667 13.27625    12.32142857 12.75714286 13.67       11.97142857
 14.13714286 14.1875     14.35       11.82       14.9        12.18888889
 14.95555556 14.4625     14.62777778 14.53333333 14.71875    15.9
 12.20555556 12.62857143 14.23285714 12.22222222 12.575      15.94285714
 10.71428571 13.32625    12.32       14.75625    15.36666667 11.55
 14.86363636 12.07142857 12.78571429 13.8375     15.11428571 11.77142857
 11.78333333 14.32857143 16.33333333 10.868      12.15714286 14.53571429
 12.84142857 13.81375    13.04444444 14.98571429 13.661      14.2725
 13.9375     14.11       14.31666667 10.16666667 13.68142857 12.61666667
 11.56666667 14.3625     13.31375    13.41625    14.61666667 14.06
 12.19230769 13.9        12.06666667 12.88625    13.88888889 14.50125
 14.02625    14.15375    12.45428571 12.94375    14.775      13.2575
 11.9625     12.81428571 13.0375     14.58888889 12.125      12.65714286
 13.126      11.375      13.79857143 14.53846154 12.93875    12.88
 11.8125     12.80555556 13.475      13.26666667 13.48333333 17.71428571
 13.65714286 13.15428571 16.09375    14.93333333 13.91       12.32857143
 12.72727273 14.47142857 12.67142857 12.49166667 11.63636364 11.85625

Cleaning is pretty much set, although in an ideal world, the variables need to be reencoded since qualitative variables with numeric discrete encoding implies ordinality, particularly when there are more than two values for a variable. This could be a problem for interpretability; for example the course ``agronomy`` associated with the integer encoding of 4 has no purpose to be valued more than course ``Biofuel Production Technologies`` which is associated with the integer encoding of 1. 

I am attempting to reencode with one-hot encoding since this is the best method to use with unordered labels within a category. Dropping attributes associated with student parents for simplicity.

In [249]:
parents = ["Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation"]
df1 = df.drop(parents, axis=1)

In [273]:
df1.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Displaced,Educational special needs,Debtor,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,1,0,0,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,0,0,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,1,0,0,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,1,0,0,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,0,0,0,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [274]:
mcatvars = ['Marital status', 'Application mode', 'Course', 'Previous qualification', 'Nacionality', "Target"]

In [275]:
df2 = pd.get_dummies(df1, columns=mcatvars)
df2.head()

,Application order,Daytime/evening attendance,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,...,Nacionality_15,Nacionality_16,Nacionality_17,Nacionality_18,Nacionality_19,Nacionality_20,Nacionality_21,Target_Dropout,Target_Enrolled,Target_Graduate
0,5,1,1,0,0,1,1,0,20,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,1,0,0,0,1,0,19,0,...,0,0,0,0,0,0,0,0,0,1
2,5,1,1,0,0,0,1,0,19,0,...,0,0,0,0,0,0,0,1,0,0
3,2,1,1,0,0,1,0,0,20,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,1,0,0,45,0,...,0,0,0,0,0,0,0,0,0,1

- `df` is the raw dataset (categorical variables initially label encoded by integer)
- `df1` will be used for visualization (semi-clean, retained label encoding for bar graphs)
- `df2` is one-hot encoded and will be used for modeling and analysis

#### Splitting Data

In [268]:
target_list = ["Target_Dropout","Target_Enrolled","Target_Graduate"]

In [279]:
X = df2.drop(target_list)

In [280]:
X.head()

,Application order,Daytime/evening attendance,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,...,Nacionality_15,Nacionality_16,Nacionality_17,Nacionality_18,Nacionality_19,Nacionality_20,Nacionality_21,Target_Dropout,Target_Enrolled,Target_Graduate
0,5,1,1,0,0,1,1,0,20,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,1,0,0,0,1,0,19,0,...,0,0,0,0,0,0,0,0,0,1
2,5,1,1,0,0,0,1,0,19,0,...,0,0,0,0,0,0,0,1,0,0
3,2,1,1,0,0,1,0,0,20,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,1,0,0,45,0,...,0,0,0,0,0,0,0,0,0,1

In [281]:
y = df2[target_list]
y.head()

   Target_Dropout  Target_Enrolled  Target_Graduate
0               1                0                0
1               0                0                1
2               1                0                0
3               0                0                1
4               0                0                1

In [298]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, shuffle=True, stratify=y)
# using 25% of data as test since this is relatively smaller

In [283]:
columns_to_scale

['Application order',
 'Daytime/evening attendance',
 'Displaced',
 'Educational special needs',
 'Debtor',
 'Tuition fees up to date',
 'Gender',
 'Scholarship holder',
 'Age at enrollment',
 'International',
 'Curricular units 1st sem (credited)',
 'Curricular units 1st sem (enrolled)',
 'Curricular units 1st sem (evaluations)',
 'Curricular units 1st sem (approved)',
 'Curricular units 1st sem (grade)',
 'Curricular units 1st sem (without evaluations)',
 'Curricular units 2nd sem (credited)',
 'Curricular units 2nd sem (enrolled)',
 'Curricular units 2nd sem (evaluations)',
 'Curricular units 2nd sem (approved)',
 'Curricular units 2nd sem (grade)',
 'Curricular units 2nd sem (without evaluations)',
 'Unemployment rate',
 'Inflation rate',
 'GDP']

In [299]:
columns_to_scale = list(df.columns.drop(mcatvars).drop(parents))
columns_no_scale = [col for col in X_train.columns if col not in columns_to_scale]

preprocessor = ColumnTransformer(
    transformers=[
        ('scaler', StandardScaler(), columns_to_scale),
        ('no_scaler', 'passthrough', columns_no_scale)
    ]
)

In [300]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [301]:
X_train = pd.DataFrame(X_train, columns=columns_to_scale + columns_no_scale)
X_test = pd.DataFrame(X_test, columns=columns_to_scale + columns_no_scale)

In [287]:
X_train

,Application order,Daytime/evening attendance,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,...,Nacionality_15,Nacionality_16,Nacionality_17,Nacionality_18,Nacionality_19,Nacionality_20,Nacionality_21,Target_Dropout,Target_Enrolled,Target_Graduate
0,-0.558065,0.349404,-1.077105,-0.114585,-0.368135,0.367607,-0.722025,1.710739,-0.561781,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.965935,0.349404,-1.077105,-0.114585,-0.368135,0.367607,-0.722025,-0.584543,-0.561781,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.965935,0.349404,0.928414,-0.114585,-0.368135,0.367607,-0.722025,1.710739,-0.695009,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-0.558065,0.349404,-1.077105,-0.114585,-0.368135,-2.720294,1.384993,-0.584543,-0.162098,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.965935,0.349404,0.928414,-0.114585,-0.368135,0.367607,-0.722025,1.710739,-0.428554,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3313,-0.558065,0.349404,-1.077105,-0.114585,-0.368135,0.367607,-0.722025,-0.584543,-0.695009,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3314,-0.558065,0.349404,0.928414,-0.114585,-0.368135,0.367607,-0.722025,-0.584543,-0.162098,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3315,-0.558065,-2.862016,-1.077105,-0.114585,-0.368135,0.367607,1.384993,-0.584543,2.236003,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3316,-0.558065,0.349404,0.928414,-0.114585,2.716392,0.367607,-0.722025,-0.584543,0.637269,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3317,-0.558065,0.349404,0.928414,-0.114585,-0.368135,0.367607,-0.722025,1.710739,-0.162098,-0.158187,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Data Visualization


### Data Analysis

### Model Construction and Performance Evaluation
decision tree, random forest, adaboost

In [305]:
# Decision Tree model

treeee = DecisionTreeClassifier()
treeee.fit(X_train, y_train)

y_pred = treeee.predict(X_test)

# Evaluation
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='samples')
recall = recall_score(y_test, y_pred, average='samples')
f1 = f1_score(y_test, y_pred, average='samples')

print(f'Accuracy: {accuracy:.2f}')
print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1 Score: {f1:.2f}')

Accuracy: 1.00
Precision: 1.00
Recall: 1.00
F1 Score: 1.00

In [303]:
# Random Forest model

rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='samples')
recall = recall_score(y_test, y_pred, average='samples')
f1 = f1_score(y_test, y_pred, average='samples')

print(f'Accuracy: {accuracy:.2f}')
print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1 Score: {f1:.2f}')

Accuracy: 1.00
Precision: 1.00
Recall: 1.00
F1 Score: 1.00

### Conclusion